<div class="nav-togglers d-flex">
  <button type="button" class="nav-toggler nav-info collapsed" data-toggle="collapse" data-target="#header-info" aria-expanded="false">
    <span class="sr-only">{{ 'Info'|t }}</span>
    <span></span>
    <span></span>
  </button>
  <button type="button" class="nav-toggler nav-menu collapsed" data-toggle="collapse" data-target="#small-menu" aria-expanded="false">
    <span class="sr-only">{{ 'Menu'|t }}</span>
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>
