.footer {
  flex-shrink: 0;
  padding: 15px 0;
  color: $color-text-footer;
  background-color: $color-bg-footer;
  &-copyright {
    font-size: 14px;
    @include m-down(sm) {
      margin-bottom: 12px;
    }
  }
  .synapse {
    padding-top: 7px;
    &-logo {
      top: -4px;
      height: 28px;
      position: relative;
    }
    &-link {
      text-decoration: none;
      border-bottom: 1px solid rgba($color-text-footer, .5);
      transition: border-color $duration, color $duration;
      &:focus,
      &:hover {
        border-color: transparent;
      }
      &:active {
        color: rgba($color-text-footer, .7);
      }
    }
  }
  a {
    color: $color-text-footer;
    &:hover {
      color: $color-text-footer;
    }
  }
}
